# 忽略依赖库
node_modules/
practice_problems_web/node_modules/

# 忽略上传的文件目录
uploads/
log/

# 忽略前端构建打包目录
dist/
practice_problems_web/dist/

# 忽略 IDE 配置文件 (可选，但建议加)
.idea/
.vscode/
.DS_Store

# 忽略 Go 编译产生的二进制文件 (如果有的话)
*.exe
*.exe~
*.dll
*.so
*.dylib
practiceProblem
